cloudpickle==2.2.1
contourpy==1.0.6
cycler==0.11.0
fonttools==4.38.0
gym-notices==0.0.8
gymnasium==0.27.1
gymnasium-notices==0.0.1
importlib-metadata==6.0.0
jax-jumpy==0.2.0
kiwisolver==1.4.4
matplotlib==3.6.2
networkx==2.8.8
numpy==1.24.0
packaging==22.0
pandas==1.5.3
Pillow==9.3.0
plotly==5.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
scipy==1.10.0
six==1.16.0
tenacity==8.1.0
typing-extensions==4.4.0
wntr==0.5.0
zipp==3.11.0
